
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

@keyframes rain {
    from {
        top: -50rem;
    }
    to {
        top: 0;
    }
}

*{
    font-family: Montserrat, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
}

html {
    height: 100px;
    overflow-x: hidden;
}

.body {
    position: relative;
    background: #FFFFFF;
    padding-left: 15%;
}

.section {
    padding: 1rem 5%;
}

.span {
    color: blueviolet;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background-color: blueviolet;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background: #111;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    place-content: center;
    padding: 8rem 2rem;
    z-index: 0;
    text-align: center;
    width: 15%;
}

.header__link{
    display: block;
    font-size: 0.8rem;
    color: #FFFFFF;
    margin: 2rem 0;
    letter-spacing: 0.2rem;
}

.header__link:hover{
    letter-spacing: 0.2rem;
    color: blueviolet;
}


.home {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home__image {
    max-width: 40%;
}

.home__content {
    max-width: 40%;
}


.home__content-greeting {
    font-size: 1rem;
    color: blueviolet;
    text-transform: uppercase;
}

.home__content-heading {
    font-size: 2rem;
    color: #000000;
    text-transform: uppercase;
}

.home__content-heading-span {
    color: blueviolet;
}

.home__content-job {
    font-size: 1.5rem;
    color: #000000;
    padding: 0.5rem 0;
}

.home__content-text {
    font-size: 1rem;
    color: #000000;
    padding: 0.5rem 0;
}

.about__main-heading {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #111;
    text-transform: uppercase;
}

.about__row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}


.about__row-1-image {
    object-fit: cover;
    width: 30%;
    max-width: 30%;
}

.about__row-1-content {
    width: 60%;
    max-width: 60%;
    margin-left: 5%;
}

.about__row-1-content-heading {
    color: #333;
    font-size: 2rem;
}

.about__row-1-content-paragraph {
    color: #666;
    font-size: 1rem;
    padding: 2rem 0;
}

.about__row-1-container {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    column-gap: 2rem;
}

.about__row-1-container-column-item {
    margin-bottom: 2rem;
}


.about__row-1-container-column-item:last-child {
    margin-bottom: 0;
}

.about__row-2 {
    display: flex;
    align-items: center;
}

.about__row-2-skills {
    width: 100%;
}

.about__row-2-skills-progress {
    padding: 1rem 0;
}

.about__row-2-skills-progress-heading {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
    font-size: 1rem;
    color: #111;
    font-weight: 400;
}

.about__row-2-skills-progress-bar {
    width: 100%;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about__row-2-skills-progress-bar .span {
    display: block;
    height: 100%;
    background-color: blueviolet;
}

.about__row-2-skills-progress-bar1 {
    width: 100%;
}
.about__row-2-skills-progress-bar2 {
    width: 80%;
}

.about__row-2-skills-progress-bar3 {
    width: 60%;
}

.about__row-2-skills-progress-bar4 {
    width: 90%;
}

.about__row-2-skills-progress-bar5 {
    width: 90%;
}

.contact__container {
    display: flex;
}

.contact__container-block {
    flex: 1 1 25rem;
    margin: 0.5rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
}

.contact__container-block-heading {
    color: #111;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.contact__container-block-link {
    color: blueviolet;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.contact-flex {
    display: flex;
}

.contact__form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #fff;
    padding: 0 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.contact__form-box, .contact__form-textarea, .input-box {
    width: 100%;
    border-bottom: 0.1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin: 1rem 0;
}

.contact__form-box:focus, .contact__form-textarea:focus {
    border-color: blueviolet;
}

.contact__form-box::placeholder, .contact__form-textarea::placeholder {
    text-transform: capitalize;
}

.contact__form-textarea {
    height: 10rem;
    resize: none;
}

.contact__form-button {
    margin-top: 0;
    margin-bottom: 1.5rem;

}

.error .contact__form-box {
    border-color: blue;
}

.error-label {
    display: block;
    color: blue;
    margin-bottom: 10px;
}

.footer {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background-color: #fff;
}

.footer__rain_button {
    text-transform: none;
}

.rain {
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    background-image: url(../images/rain.gif);
    opacity: 0.5;
}

.rain_active {
    display: block;
}

.rain_animation {
    animation: rain 2s linear infinite;
}
@media (max-width: 800px) {
    .rain_active {
        display: none;
    }
}

@media (max-width: 500px) {
    .section {
        padding: 1rem 5%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .image {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }

    .content {
        width: 100%;
        max-width: 100%;
    }

    .home__content-greeting {
        left: 5%;
        width: 80%;
    }

    .home__content-heading {
        left: 5%;
        width: 80%;
    }

    .home__content-job {
        left: 5%;
        width: 80%;
    }

    .home__content-text {
        left: 5%;
        width: 80%;
    }

    .home__content-heading-span {
        left: 5%;
        width: 80%;
    }

    .about__row-1 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 2rem;
        flex-wrap:wrap;
    }
    .about__row-1-image {
        width: 100%;
        max-width: 100%;
    }

    .about__row-1-content {
        width: 100%;
        max-width: 100%;
    }

    .contact__container-block {
        margin: 0.5rem;
        text-align: center;
        padding: 2rem;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
        border-radius: 0.5rem;
        height: fit-content;
    }

    .contact__container {
        display: flex;
        flex-direction: column;
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .contact__container-block-link {
        color: blueviolet;
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

}



